<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <ul class="organizations-list">
            <% categories.forEach(category=> { %>
                <li>
                    <%= category.name %>
                </li>
                <% }) %>
        </ul>
    </main>
    <%- include('partials/footer') %>